/* Note there a few "reset" styles given in reset.css. Review those before you begin */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #111;
   
    
  } 
 
  /* product images  */
  img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
} 
  
  
  .products h1{
    text-align: center;
    color: #111;
  }

 
  
/*  Filters  */
.filters{
    font-size: 15px;
    text-align: center; 
    margin: 20px;
    
}
.filters fieldset{
    text-align: center;
    width: 50%;
    position:relative;
    font-size: 15px;
    padding: 5px;
    display: inline-block;
  justify-content: left;
  
}
.filters li{
   
    display: inline;
    list-style: none;
}


/*  Results section */
.results dd{
    font: size 100px;;
}
.results{
    display:grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    justify-content:center;
}
.results button{
    display: inline-flexbox;
    border: none;
    padding: 1rem 2rem;
    margin: ;
    background: white;
    color: #000000;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
}

.results button:hover{
    background: red;
}

/*  Products */
.product{
   
   
    height: 60vh;
    overflow:hidden;
    background-color: white;
    text-align: center;
    border-radius: 1rem;
    position: relative;
    margin: 0.5rem;
    
}
.product_info li{
    
    display: inline;
   
}
.product_info{
    font-size: 12px;
}

.product_footer{
    margin:15px 0;
}
.product_footer button{
    height: 28px;
    font-size: 11px;
    text-align: center;
    padding-bottom: 20px;
    
}


/* page number */
.pagination{
    background: #f2f2f2;
    text-align: center;
    display: inline;

}
.pagination li{
    display: inline;
}


