<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <title>SquareMash ▣</title>
  <!--  linked css files    -->
  
  <link rel="stylesheet" href="css/style.css">
  

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> <!-- Icons-->
  <link rel="icon" type="image/png" href="img/favicon-shopping.png">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>


</head>

<body>

  <!-- Navigation bar -->
  <nav>
    <div class="menu-icon">
      <!-- Logo and Menu options-->
      <span class="fas fa-bars" style="color: white;"></span>
    </div>
    <div class="logo">
      SquareMash ▣</div>
    <div class="nav-items">
      <li><a href="#">Home </a></li>
      <li><a href="#">Men <i class="fa fa-caret-down" style="color: white;"></i> </a></li>
      <li><a href="#">Women <i class="fa fa-caret-down" style="color: white;"></i> </a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact Us</a></li>


    </div>
    <div class="search-icon">
      <!-- Search icon-->
      <span class="fas fa-search" style="color: white;"></span>
    </div>

    <div class="cancel-icon">
      <span class="fas fa-times" style="color: white;"></span>
    </div>

    <form action="#">
      <input type="search" class="search-data" placeholder="Search" required ></input>
      <button type="submit" class="fas fa-search"></button>
    </form>
    <li><a href="#"><i class="fa fa-heart" style="font-size:24px;color: white"></i></a> </li> <!-- favourite icon-->
    <li><a href="#"><i class="fa fa-shopping-cart" style="font-size:24px;color:white"></i></a> </li>
    <!-- add to cart icon-->
  </nav>





  <!-- Additional links -->
  <!-- <ul class="your-products">

  </ul> -->
  

  <main class="products">
    <header class="heading">
      <h1>Sale on Clothing</h1>
    </header>

    <!-- Filtering product form -->
    <form class="filters">

      <h2>Filters <i class="fa fa-filter" style="font-size:24px"></i> </h2> <br>




      <div class="filter-options">
        <fieldset>
          <legend>
            <h3>Colours</h3>
          </legend>
          <label class="container">Red
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
          <label class="container">White
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container">Black
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container">Blue
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </fieldset>

        <fieldset>
          <legend>
            <h3>Sizes</h3>
          </legend>
          <label class="container">XS
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
          </label>
          <label class="container">S
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container">M
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container">L
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <label class="container">XL
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
        </fieldset>
        <fieldset>
          <legend>
            <h3>Ratings (above)</h3>
          </legend>

          <label class="container-radio">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>

            <input type="radio" checked="checked" name="radio">

            <span class="checkmark">
            </span>
          </label>
          <label class="container-radio">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>
          <label class="container-radio">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>
          <label class="container-radio">
            <i class="fa fa-star" aria-hidden="true"></i>
            <input type="radio" name="radio">
            <span class="checkmark"></span>
          </label>

        </fieldset>
      </div>
      <fieldset>
        <legend>
          <h3>Sort By</h3>
        </legend>
        <select name="sort" id="sort">
          <option value="price-high">Featured</option>
          <option value="price-high">Highest to Lowest</option>
          <option value="price-low">Lowest to Highest</option>
          <option value="newest">Newest releases</option>
        </select>
      </fieldset>
    </form>

    <h1 class="subheading">Results</h1>
    <section class="results">


      <!-- Product 1 -->
      <box>
        <article class="product">
          <header>
            <img src="img/Prod-1.jpg" alt="Product Image">

            <h3>Men's Hoodie</h3>
            <data value="39"><del>$50.00</del> <ins>$39.00</ins></data>
            <p>Tie-Dye Pullover Hoodie</p>
            <dl>

              <dd>4.4 <span class="material-icons">star</span><span class="material-icons">star</span><span
                  class="material-icons">star</span><span class="material-icons">star</span><span
                  class="material-icons">star_half</span></dd>
            </dl>
            <a href="#">see more</a>
          </header>
          <form>
            <fieldset class="product_info">

              <legend>Colours</legend>

              <label class="container-radio-prod"> Red
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> White
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> Black
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> Blue
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

            </fieldset>

            <fieldset class="product_info">
              <legend>Sizes</legend>
              <label class="container-radio-prod"> S
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> M
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> L
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>
            </fieldset>
          </form>
          <footer class="product_footer">
            <button style="font-size:15px"><i class="fa fa-shopping-cart"></i></button>
            <button style="font-size:15px"><i class="fa fa-heart"></i></button>
          </footer>
        </article>

        <!-- Product 2 -->
        <article class="product">
          <header>
            <img src="img/Prod-2.jpg" alt="Product Image">
            <h3>Men's Shoe</h3>
            <data value="40"><del>$60.00</del> <ins>$39.00</ins></data>
            <p>Nike Blazer Mid '77 Vintage</p>
            <dl>

              <dd>4.4 <span class="material-icons">star</span><span class="material-icons">star</span><span
                  class="material-icons">star</span><span class="material-icons">star</span><span
                  class="material-icons">star_half</span></dd>
            </dl>
            <a href="#">see more</a>
          </header>
          <form>
            <fieldset class="product_info">
              <legend>Colours</legend>
              <label class="container-radio-prod"> Red
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> White
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> Black
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> Blue
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </fieldset>
            <fieldset class="product_info">
              <legend>Sizes</legend>
              <label class="container-radio-prod"> 8.5 in
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> 9 in
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> 10 in
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>
            </fieldset>
          </form>
          <footer class="product_footer">
            <button style="font-size:15px"><i class="fa fa-shopping-cart"></i></button>
            <button style="font-size:15px"><i class="fa fa-heart"></i></button>
          </footer>
        </article>
      </box>
      <box>
        <!-- Product 3 -->
        <article class="product">
          <header>
            <img src="img/Prod-3.jpg" alt="Product Image">
            <h3>White Shoe</h3>
            <data value="40"><del>$50.00</del> <ins>$39.00</ins></data>
            <p>Nike Air Force 1 '07
            </p>
            <dl>

              <dd>4.4 <span class="material-icons">star</span><span class="material-icons">star</span><span
                  class="material-icons">star</span><span class="material-icons">star</span><span
                  class="material-icons">star_half</span></dd>
            </dl>
            <a href="#">see more</a>
          </header>
          <form>
            <fieldset class="product_info">
              <legend>Colours</legend>
              <label class="container-radio-prod"> Red
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> White
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> Black
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> Blue
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </fieldset>
            <fieldset class="product_info">
              <legend>Sizes</legend>
              <label class="container-radio-prod"> 8.5 in
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> 9 in
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> 10 in
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>
            </fieldset class="product_info">
          </form>
          <footer class="product_footer">
            <button style="font-size:15px"><i class="fa fa-shopping-cart"></i></button>
            <button style="font-size:15px"><i class="fa fa-heart"></i></button>
          </footer>
        </article>

        <!-- Product 4 -->
        <article class="product">
          <header>
            <img src="img/Prod-4.jpg" alt="Product Image">
            <h3>Women's Sportswear</h3>
            <data value="25"><del>$40.00</del> <ins>$39.00</ins></data>
            <p>Here is a shot of this product..</p>
            <dl>

              <dd>4.4 <span class="material-icons">star</span><span class="material-icons">star</span><span
                  class="material-icons">star</span><span class="material-icons">star</span><span
                  class="material-icons">star_half</span></dd>
            </dl>
            <a href="#">see more</a>
          </header>
          <form>
            <fieldset class="product_info">
              <legend>Colours</legend>
              <label class="container-radio-prod"> Red
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> White
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> Black
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> Blue
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </fieldset>
            <fieldset class="product_info">
              <legend>Sizes</legend>
              <label class="container-radio-prod"> S
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> M
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> L
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>
            </fieldset>
          </form>
          <footer class="product_footer">
            <button style="font-size:15px"><i class="fa fa-shopping-cart"></i></button>
            <button style="font-size:15px"><i class="fa fa-heart"></i></button>
          </footer>
        </article>
      </box>
      <box>
        <!-- Product 5 -->
        <article class="product">
          <header>
            <img src="img/Prod-5.jpg" alt="Product Image">
            <h3>Women's Bag</h3>
            <data value="30"><del>$60.00</del> <ins>$39.00</ins></data>
            <p>Here is a shot of this product ...</p>
            <dl>

              <dd>4.4 <span class="material-icons">star</span><span class="material-icons">star</span><span
                  class="material-icons">star</span><span class="material-icons">star</span><span
                  class="material-icons">star_half</span></dd>
            </dl>
            <a href="#">see more</a>
          </header>
          <form>
            <fieldset class="product_info">
              <legend>Colours</legend>
              <label class="container-radio-prod"> Red
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> White
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> Black
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> Blue
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </fieldset>
            <fieldset class="product_info">
              <legend>Sizes</legend>
              <label class="container-radio-prod"> S
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> M
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> L
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>
            </fieldset>
          </form>
          <footer class="product_footer">
            <button style="font-size:15px"><i class="fa fa-shopping-cart"></i></button>
            <button style="font-size:15px"><i class="fa fa-heart"></i></button>
          </footer>
        </article>

        <!-- Product 6 -->
        <article class="product">
          <header>
            <img src="img/Prod-6.jpg" alt="Product Image">
            <h3>Backpack</h3>
            <data value="26"><del>$50.00</del> <ins>$39.00</ins></data>
            <p>Here is a shot of this product ..</p>
            <dl>

              <dd>4.4 <span class="material-icons">star</span><span class="material-icons">star</span><span
                  class="material-icons">star</span><span class="material-icons">star</span><span
                  class="material-icons">star_half</span></dd>
            </dl>
            <a href="#">see more</a>
          </header>
          <form>
            <fieldset class="product_info">
              <legend>Colours</legend>
              <label class="container-radio-prod"> Red
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> White
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> Black
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> Blue
                <input type="radio" name="radio">
                <span class="checkmark"></span>
            </fieldset>
            <fieldset class="product_info">
              <legend>Sizes</legend>
              <label class="container-radio-prod"> S
                <input type="radio" checked="checked" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> M
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>

              <label class="container-radio-prod"> L
                <input type="radio" name="radio">
                <span class="checkmark"></span>
              </label>
            </fieldset>
          </form>
          <footer class="product_footer">
            <button style="font-size:15px"><i class="fa fa-shopping-cart"></i></button>
            <button style="font-size:15px"><i class="fa fa-heart"></i></button>
          </footer>
        </article>
      </box>
    </section>



    <!-- Page number of products-->
    <nav aria-label="Pagination" class="pagination">
      <p>1-6 of 23 products found</p>
      <ol>
        <li><a href="#" aria-label="Current Page, Page 1" aria-current="true">1</a></li>
        <li><a href="#" aria-label="Page 2">2</a></li>
        <li><a href="#" aria-label="Page 3">3</a></li>
        <li><a href="#" aria-label="Page 4">4</a></li>
        <li><a href="#" aria-label="Page 5">5</a></li>
        <li><a href="#" aria-label="Next Page">&raquo;</a></li>


      </ol>
    </nav>
  </main>






  <!-- Footer-->

  <footer>
    <div class="main-content">
      <div class="left box">

        <div class="content">

          <div class="social">
            <!-- Social media icons -->
            <a href="#"><span class="fab fa-facebook-f"></span></a>
            <a href="#"><span class="fab fa-twitter"></span></a>
            <a href="#"><span class="fab fa-instagram"></span></a>
            <a href="#"><span class="fab fa-youtube"></span></a>
          </div>


        </div>
      </div>

      <div class="right box">
        <div class="content">

          <div class="terms">
            <!-- Terms and Policies-->

            <span class="text">Terms of Use</span>



            <span class="text">Privacy Policy</span>



            <span class="text">Accessibilty Policy</span>
          </div>
        </div>
      </div>



  </footer>

  <script>
    const menuBtn = document.querySelector(".menu-icon span");
    const searchBtn = document.querySelector(".search-icon");
    const cancelBtn = document.querySelector(".cancel-icon");
    const items = document.querySelector(".nav-items");
    const form = document.querySelector("form");
    menuBtn.onclick = () => {
      items.classList.add("active");
      menuBtn.classList.add("hide");
      searchBtn.classList.add("hide");
      cancelBtn.classList.add("show");
    }
    cancelBtn.onclick = () => {
      items.classList.remove("active");
      menuBtn.classList.remove("hide");
      searchBtn.classList.remove("hide");
      cancelBtn.classList.remove("show");
      form.classList.remove("active");
      cancelBtn.style.color = "#ff3d00";
    }
    searchBtn.onclick = () => {
      form.classList.add("active");
      searchBtn.classList.add("hide");
      cancelBtn.classList.add("show");
    }
  </script>

</body>

</html>